{% extends 'base.html.twig' %}

{% block title %}Page de réservation{% endblock %}
{% block head%}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Accueil</a></li>
  <li class="breadcrumb-item"><a href="#">Reservations</a></li>
  <li class="breadcrumb-item active">Paiement</li>
</ol>
{%endblock%}
{% block body %}
  
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Récapitulatif de votre réservation !</h1>
        <br><br>
        <h2> Vous avez réservé le(s) billet(s) suivant(s):</h2><br>
        {% if app.session %}
           {% set total = 0 %}
            <h3> Numéro de réservation: {{recap.getNumReservation}}</h3>
            <h3> Date de votre visite: {{ recap.getDateVisite|date("d/m/Y") }}</h3>
            <h3> Nombre de billet(s): {{ recap.getNbBillets }}</h3>
            <h3>Billets: <br>{% for billet in billets %}
            
                Nom: {{ billet.getNom }}<br>
                Prenom: {{ billet.getPrenom }}<br>
                Date de naissance: {{ billet.DateDeNaissance|date("d/m/Y") }}<br>
                Prix: {{billet.getTarif}} € <br>
                {% set total = total + billet.getTarif %}
                  <br> 
                <hr>
                {% endfor %}
                
            Total de votre commande : {{total}}€  <br>  
            </h3>
            <br>
        {% endif %}
           Votre adresse mail pour recevoir votre confirmation: <input type="email" class="form-control" id="email" aria-describedby="emailHelp"placeholder="Entrez votre adresse mail svp" name="email"/><br><br>
           {% set email = recap.getMail %}
          <input type="submit" id="envoyer" name="envoyer" value="Envoyer" class="btn btn-success">
          
 {% endblock %}   
