{% extends 'base.html.twig' %}

{% block title %}Page de réservation{% endblock %}
{% form_theme formReservation 'bootstrap_4_layout.html.twig' %}
{% block head%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item active">Reservations</li>
    </ol>
{%endblock%}
{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Page de réservation !</h1>
        <br><br>
        {{ form_start(formReservation,{'attr':{
            'id':'reservation'}
            }) }}
        {# {{ form_row(formReservation.date_reservation,{
             'label':'Date de réservation'}) }}#}
        <fieldset>
            <legend>Choisissez la date de votre visite</legend>
            {{ form_row(formReservation.date_visite,{
            'label':'Date de votre visite'})}}
        </fieldset>
        <br>
        <fieldset>
            <legend>Sélectionnez un type de billet</legend>

            <div class="form-check">
                {{ form_row(formReservation.journee,{
            'label':'Type de billets',
            'attr':{'type':'radio',}})}}
            </div>
        </fieldset>
        <br>

        {# {{ form_row(formReservation.mail,{
            'label':'Adresse mail','attr':{
            'placeholder':'Votre adresse mail'}
            } )}}#}

        <br><br>
        <hr>

        {{ form_row(formReservation.nb_billets,{
            'label':'Nombre de billets:','attr':{
            'placeholder':'Choisissez un nombre de billets',
            'name':'nb_billets',}
            } )}}

        {{ form_row(formReservation.billets) }}


        <input type="button" id="ajout" name="ajout[]" value="Ajouter billets" class="btn btn-info">
        <input type="submit" id="envoyer" name="envoyer" value="Envoyer" class="btn btn-success">

        {{ form_end(formReservation) }}
        {% block javascripts %}
            <script language="Javascript">
  document.querySelector("#ajout").addEventListener('click', function () {

     var billet = document.querySelector("#reservation_billets");
     var prototype = billet.dataset.prototype;
     var index = document.getElementById("reservation_nb_billets");

     for (var i = 0; i < index.value; i++) {
       var ligne = i + 1;
       billet.innerHTML += prototype.replace(/__name__label__/g, 'Billet n°' + ligne).replace(/__name__/g, ligne);

     }
                    
    }
 );
  
            </script>
        {% endblock %}   
    {% endblock %}