{% extends 'base.html.twig' %}

{% block title %}Page de réservation{% endblock %}
{% form_theme formReservation 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Page de réservation !</h1>
        <br><br>
        {{ form_start(formReservation) }}
       {# {{ form_row(formReservation.date_reservation,{
            'label':'Date de réservation'}) }}#}
       <fieldset>
           <legend>Choisissez la date de votre visite</legend>
       {{ form_row(formReservation.date_visite,{
            'label':'Date de votre visite'})}}
       </fieldset>
       <br>
        <fieldset>
                <legend>Sélectionnez un type de billet</legend>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="journee"
                           name="choix" value="journee" checked />
                    <label class="form-check-label" for="journee">Journée</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="demi-journee"
                           name="choix" value="demi-journee" />
                    <label class="form-check-label" for="demi-journee">Demi-journée</label>
                </div>
            </fieldset>
        <br>
        
         {{ form_row(formReservation.mail,{
            'label':'Adresse mail','attr':{
            'placeholder':'Votre adresse mail'}
            } )}}
           
            <div>Billets:</div>

        {{ form_row(formReservation.nb_billets,{
            'label':'Nombre de billets:','attr':{
            'placeholder':'Choisissez un nombre de billets',
            'name':'nb_billets',}
            } )}}
         {{ form_row(formReservation.billets,{'attr':{
            'name':'reservation_billets',}
            }) }}
         
	<input type="button" id="validation" name="validation" value="Valider">
	
        {{ form_end(formReservation) }}
        {% block javascripts %}
            <script language="Javascript">
                var div1 = document.getElementById("reservation_billets");
                var align = div1.getAttribute('data-prototype');
                document.forms['reservation']['reservation_billets'].innerHTML =align.replace(/__name__label__/g, 'Billet n°');
                console.log(align); // affic
               $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#LouvreBundle_reservation_billets');
    

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#validation').click(function(e) {
     

    // La fonction qui ajoute un formulaire CategoryType
    function addBillet($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/, 'Billet n°' + (index+1))
        .replace(/__name__/,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }
    addBillet($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addBillet($container);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
        {% endblock %}   
{% endblock %}